<div class="reserva_del_dia">
  <%= reserva.finalidad %>
  <%= reserva.user.nombre %>
  <%= reserva.user.apellido %>
  <% if reserva.invitados.count > 0 %>
    + <%= reserva.invitados.count %>
  <% end %>
</div>
