<!-- <p id="notice"><%= notice %></p> -->

<div id="reservas-index">

  <h1><%= params[:title] || "Reservas" %></h1>

  <% unless @reservas.empty? %>
    <%= render @reservas %>
  <% else %>
    <p>No hay reservas</p>
  <% end%>

</div>

<%= paginate @reservas %>