<!-- <p id="notice"><%= notice %></p> -->

<div id="reservas-index">

  <h1>Reservas</h1>

    <%= render @reservas %>

  <%= link_to 'Nueva reserva', new_reserva_path, class: 'btn btn-default' %>

</div>
