<div class="docs">
  <h1>Documentación para administradores</h1>

  <h2>Exportar reservas a calendario</h2>
  <p>Al hacer clic en esta opción, se generará un archivo <i>.csv</i> que se podrá importar desde cualquier calendario que acepte este formato, como por ejemplo el Calendario de Google. Para importarlo en un Calendario de Google, deben seguirse los siguientes pasos:</p>
  <ol>
    <li>Abrir el Calendario correspondiente.</li>
    <li>Hacer clic en <i>Menú de configuración</i> (ícono de la ruedita).</li>
    <li>Hacer clic en <i>Configuración</i>.</li>
    <li>En el menú lateral, ir a <i>Importar y Exportar</i>.</li>
    <li>En <i>Importar</i>, cliquear <i>Seleccionar un archivo de tu computadora</i>, elegir el archivo <i>.csv</i> recién descargado.</li>
    <li>Hacer clic en <i>Importar</i>.</li>
  </ol>
  <p>En caso de que se realicen múltiples importaciones, las reservas repetidas no generarán eventos duplicados. Por ende, se puede importar el calendario cuantas veces se quiera, a fin de mantenerlos actualizados.</p>

</div>