/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// Custom library variables must be set or imported *before* library.
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome';
@import '~bootstrap/dist/css/bootstrap';
@import 'rails_bootstrap_forms';
@import "calendar";
@import "colors";
@import "fonts";
@import "footer";
@import "forms";
@import "heights";
@import "inicio";
@import "menu";
@import "mixins";
@import "pwa";
@import "reservas";

html {
  background-color: #ccc;
  background-image: repeating-linear-gradient(45deg,
    transparent,
    transparent 1px,
    rgba(255, 255, 255, 0.5) 1px,
    rgba(255, 255, 255, 0.5) 9px);
}

body {
  height: 100%;
  max-width: 96%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid $borde-body;
  margin: 20px auto;

  @media (min-width: $bpMaxMedium) {
    max-width: 80%;
  }
}

#body-wrapper {
  width: 100%;
  margin: 0 auto $minus-min-footer-height;
  min-height: 100%;
}

#main-body {
  //  .encabezado {
  padding-top: 20px;
  width: 100%;
  background-image: url("../../images/club_emprendedores_fondo.jpg");
  background-size: cover;

  //  }
  p {
    font-family: "Helvetica Neue";
    font-weight: normal;
    font-size: 12pt;

    &.notice {
      font-weight: lighter;
    }
  }
}

.alert {
  padding: 5px 15px;
  margin-bottom: 5px;
}

.no_logueado {
  margin-bottom: 2em;
  font-weight: bold;
  background-color: $azul-oscuro;
  padding: 10px 15px;
  border-radius: 10px;
  display: inline-block;
  font-family: "Titillium";
  color: $blanco;
  font-size: 110%;

  & a {
    font-family: "Titillium";
    font-weight: bold;
    color: $gris_bordes;
  }
}

#error_explanation {
  background-color: $amarillo;
  border: 1px solid $gris_boton;
  padding: 10px 15px;

  ul {
    list-style: none;

    li {
      color: $rojo;
    }
  }
}

.fa-1_5x {
  font-size: 1.5em !important;
}