@font-face {
  font-family: "Titillium";
  src: url("../../fonts/TitilliumWeb-Bold_2.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Titillium";
  src: url("../../fonts/TitilliumWeb-Regular_6.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Filson";
  src: url("../../fonts/filson-light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Filson";
  src: url("../../fonts/Filson-W01-Bold_5.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../../fonts/HELVETICANEUELTSTD-MD.OTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../../fonts/HelveticaNeueLTStd-Lt.otf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}

* {
  font-family: "Helvetica Neue";
  font-size: 12pt;
}

h1,
h2,
h3,
h4,
h5,
h6,
#main-body>div.simple-calendar>div a,
#main-body>div.simple-calendar>div span {
  font-family: "Titillium";
  font-weight: bold;
}

a.navbar-brand,
#navbar-collapsable>ul.nav.navbar-nav.navbar-right>li>a,
#menu>li>a,
.navbar-text {
  font-family: "Titillium";
  font-weight: bold;
}

body>nav>div>div.navbar-header a {
  font-family: "Filson";
  font-weight: bold;
}