$borde-body: #555;
$verde: #88AB13;
$naranja: #EE8005;
$naranja_label: #DB9600;
$amarillo: #ffd600;
$gris_boton: #252D30;
$gris_barra: #313A41;
$gris_bordes: #ddd;
$gris_clarito: #f4f4f4;
$rojo: #a94442;
$blanco: white;
$azul_oscuro: #313A41;
$azul: #0071BC;
$azul_label: rgb(22, 91, 145);
$colorado: #985102;