 @import "colors";

.form-control {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}

.form-not-whole-row {
  display: inline-block;

  &.small {
    max-width: 6em;
  }
}

.btn-default {
  background-color: $verde;
  color: white;
  font-weight: bold;
  margin: 20px 10px 10px;
  font-size: 110%;
}

a.add_fields {
  margin-top: 10px;
}

a.invitados_anteriores {
  border: 1px solid $gris_boton;
  margin-top: 10px;
  color: $gris_boton;
}

.nested-fields {
  margin: 20px 40px;
  border: 1px solid $gris_barra;
  padding: 20px;
  border-radius: 10px;
  background-color: $gris_clarito;
}

a {
  padding: 0.3em;
}

a:hover, .btn-default:hover {
  background-color: orange;
}

select {
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
}

input[name='invitados_anon'] {
  max-width: 70px;
}
