 @import "colors";
nav.navbar {
  background: $verde;
  width: 100%;
  padding: 20px 30px 0px 30px;
  border-bottom: 2px solid $naranja;
}

body > nav > div > div.navbar-header {
  width: 100%;
  a {
    font-size: 26pt;
    text-transform: uppercase;
  }
}

nav.navbar a {
  font-size: 16px;
}
a.navbar-brand,
#navbar-collapsable > ul.nav.navbar-nav.navbar-right > li > a,
#menu > li > a,
#menu > p {
  color: white;
}

body > nav > div > div.navbar-header > a {
  color: white !important;
}

#menu > li.active > a {
  background-color: $verde;
  border-bottom: 6px solid $naranja;
}

.navbar-text {
  color: $gris_boton !important;
}
.navbar-text {
  margin-right: 0px;
  margin-left: 0px;

  &:last-of-type {
    margin-right: 20px;
  }
}
