// Place all the styles related to the Reservas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";

div.reservas_del_dia{
  margin-bottom: 2em;
  text-align: left;
}

div.reserva_del_dia {
  text-align: left;
}

span.reserva_hora {
  font-weight: bold;
}

div.nueva_reserva {
  border: 1px solid $gris_boton;
  border-radius: 5px;
  margin: 30px 0px;
  padding: 10px 20px;
}

form div.field {
  margin-top: 30px;
}
